body {}
h2 { font-size: 120%; margin-bottom: 0; }
label { font-weight: inherit; cursor: pointer; }
p { max-width: 40em; line-height: 1.3; }
summary { cursor: pointer; }
ul { list-style-type: none; margin: 0; }
a.current {
	text-decoration: none;
	color: inherit;
	cursor: default;
}

.main-nav {
	padding: 0 3em;
	background-color: #ded;
}
.main-nav h1 {
	display: inline;
	font-size: 100%;
}
.main-nav ul { display: inline; }
.main-nav li { display: inline; margin-left: 1em;}

.tab { display: none; }
.tab:target {
	display: inline-block;
	padding: 0 3em;
}


/* Utility */
.clarify { font-size: 70%; font-style: italic; margin-top: -0.6em; margin-bottom: 1em;}

label { margin-top: 1em; }
	fieldset label { margin-top: 0; }
input[type="radio"] { display: none; }
.radio-label { color: rgb(66, 139, 202); border-bottom: 1px dashed;}
:checked + .radio-label { color: inherit; border: none; cursor: default; }

.passwords ol { }
	.passwords li {  }
		.passwords li:hover { color: red; text-decoration: line-through; cursor: pointer }

.add { }
	.add label { display: block; }
	.add fieldset label { display: inline-block; margin-right: 1em; }
	.add .field-label { display: block; }
		.add input {
		margin-bottom: 1em;
	}
		.add input[type="text"],
		.add input[type="password"] {
			width: 100%;
		}
		.add .btn { }
	.add .errors {
		display: inline-block;
		vertical-align: top;
		margin-left: 2em;
	}
		.add .errors li {
			padding: 0.5em;
			color: #f66;
			left: 0;
		}
		.add .errors .old {
			transition: all 1s linear;
			position: relative;
			left: 100%;
			opacity: 0;
		}
	.add .optional {
		padding-left: 20px;
		padding-right: 20px;
		background-color: #eee;
		margin-bottom: 1em;
	}
		.add .optional[open] {
			padding-bottom: 0.5em;
			background-color: #ddd;
		}
		.add .optional summary {
			margin: 0 -20px 1em;
			padding: 3px 20px 3px 10px;
		}
			.add .optional[open] summary {
				padding-top: 0.5em;
			}

.instructions {}
	.instructions ol { padding-left: 2em; padding-top: 1em }
		.instructions ol li { margin-bottom: 2em; }

#whitelist textarea {
	min-width: 20em; max-width: 40em;
	min-height: 15em;
}

.credits { opacity: 0.5; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
	.credits:hover { opacity: 1; }
	.credits .extra { margin-top: 2em; }
