#viewbox { min-width: 200px; max-width: 450px; margin: 1em auto; }

.clarify { font-size: 70%; font-style: italic;}
.updated { padding: 1em; margin: 1em auto; background-color: #F0B16D; border-radius: 10px;
	text-align: center; min-width: 300px; max-width: 700px; }
.updated p + p { margin-bottom: 0; margin-top: 1ex;}

#settings { list-style-type: none; padding: 0; }
#settings > li.new { display:none !important }
#settings > li[name="0"] { margin-left: 5px }
#settings > li { display: inline-block !important;
	/* Important is for jQuery's broken .animate, which sets display to block. */
	white-space: nowrap;
	/* Nowrap is for animating width. */
	margin: 1em }
#settings > li:hover { color: red; text-decoration: line-through; cursor: pointer }
#settings            img { vertical-align: middle; visibility: hidden }
#settings > li:hover img { visibility: visible }
input { display: block; width: 100% }
#status { list-style-type: none; color: rgb(255,122,150) }

#help-h1 > a { border-bottom: 1px dashed black; font-style: normal; text-decoration: none; color: inherit; }
#help { height: 0; overflow: hidden }
#help:target, #help.target { height: auto; overflow: visible; }
#help ol { padding-left: 2em; padding-top: 1em }
#help ol li { margin-bottom: 2em; }
#help input { width: 15em; }

#credits { opacity: 0.5; -webkit-transition: opacity 0.5s }
#credits:hover { opacity: 1 }
.author { margin-top: 3ex; text-align: right; font-style: italic }