/* Global */
body { overflow-y: scroll; }
.viewbox { min-width: 200px; max-width: 450px; margin: 1em auto; }

/* Utility */
.clarify { font-size: 70%; font-style: italic; margin-top: -0.6em;}


.current ol { margin: 0; }
	.current .new { display: none }
	.current li { display: inline-block; margin-right: 1em }
		.current li:hover { color: red; text-decoration: line-through; cursor: pointer }

.add {}
	.add input { width: 70% }
		.add .btn { width: 10em;}
	.add .status { list-style-type: none; color: rgb(255, 122, 150); }

.instructions {}
	.instructions ol { padding-left: 2em; padding-top: 1em }
		.instructions ol li { margin-bottom: 2em; }

.whitelist { width: 70%; }
	.whitelist textarea {
		width: 100%; height: 5em;}

.credits { opacity: 0.5; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
	.credits:hover { opacity: 1; }
	.credits .extra { margin-top: 2em; }
