form { padding: 1em 5px 1em 30px; margin-right: 25px; text-align: center; background-color: white; }


a[name="url"] { display: inline-block; white-space: nowrap; text-decoration: none; margin-left: 20px }
a[name="url"] img { opacity: 0.3; -webkit-transition: opacity 0.5s }
a[name="url"]:hover img { opacity: 1 }
input[name="url"] { display: none }

#buttons { list-style-type: none }
#buttons li { display: inline-block; padding: 1ex }
#buttons .current a { text-decoration: none; cursor: default; color: inherit; }

.new,#buttons .new { display: none }

#passwordBox { margin: 0; height: auto; padding: 0; white-space: nowrap; }
[name="password"] {
	opacity: 0; padding: 1ex; margin: 5px;
	-webkit-transition: all 0.4s;
	border: 0;
	}
[name="password"].open { opacity: 1 }
.ghost, [name="length"] { width: 25px; opacity: 0 }
[name="length"].open { opacity: 0.5 }
[name="length"]:focus { opacity: 1 }


#help-handle { position: absolute; bottom: 0; right: 0; z-index: 10
	 width: 20px; height: 20px; opacity: 0.5; -webkit-transition: opacity 0.8s; }
	#help-handle:hover { opacity: 1 }
form { opacity: 1; -webkit-transition: opacity 0.8s; }
#help { position: absolute; top: 0; right: 25px; left: 0; bottom: 0;
	background-color: white; z-index: -2; opacity: 1;
	}
	#help-handle:hover + form { opacity: 0 }
	#help p { margin: 1ex 30px 1ex 1ex }